.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card {
    width: 2.5in; 
    height: 3.5in; 
    position: relative;
    border: 1px solid #000; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    background-color: white; 
}

.header-div-box {
    width: 100%; 
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.0;
    border: 1px solid black; 
    text-align: center; 
    margin: 0.0rem; 
}

.card-name-box {
    width: 60%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.0;
    text-align: center; 
    margin: 0.0rem; 
}

.name-filler {
    width: 20%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.0;
    text-align: center; 
    margin: 0.0rem; 
}

.power-container {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column; 
}

.location-container {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column; 
}

.range-container {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Optionally, center vertically */
}

.range-container-reverse {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Optionally, center vertically */
}

.range-icon img {
    width: 30px; /* Square size */
    height: 30px; /* Square size */
    object-fit: cover; /* Ensures the image covers the square area without distorting */
    margin: 0.1rem; /* Spacing between images */
}

.mana-cost-container {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;  
}

.mana-cost-square {
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    margin: 0.1rem 0; 
    border-radius: 3px;
    border: 1px solid black; 
}

.power-element {
    background: red;
    border-radius: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    font-size: 40px;
    border: 1px solid black;  
}

.power-element .text {
    position: absolute;
    top: 50%; /* Adjust this value to move the text down */
    color: black;
    font-size: 40px; /* Add 'px' to specify units for font size */
    font-weight: bold;
    text-align: center;
}

.card-art {
    width: 100%;          
    height: 50%;        
    position: relative;   
    overflow: hidden;   
    border-bottom: 1px solid black;  
}

.card-art img {
    width: 100%;          
    height: 100%;         
    object-fit: cover;
}

.card-details {
    width: 100%; 
}

.bottom-text-container {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom:0;
    text-align: center;
}

.flame-container {
    position: absolute;
    bottom: 0; /* Stick the container to the bottom of the card */
    width: 100%; /* Full width of the card */
    height: 100%; /* Full height of the card */
    text-align: center;
    pointer-events: none; /* Prevent interaction with the flame */
}

.flame-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; /* Prevent interaction with the image */
    opacity: 0.75;
}

.bottom-text-container span{
    text-align: center;
    font-size: 30px; /* Adjust font size relative to the container height */
    line-height: 100%; /* Make sure text fits well inside the height */
}

@media print {
    @page {
        margin-top: 1.0cm;
        margin-left: 0cm;
        margin-right: 0cm;
    }

    body {
        -webkit-print-color-adjust: exact; /* Ensure colors are printed */
        color-adjust: exact;
    }

    /* FOR NORMAL CARDS */
    .cards-container {
        display: flex; 
        gap: 0; 
        margin: 0;
        width: 100%; 
        page-break-inside: avoid; 
    }

    .card {
        width: 2.5in; /* Card dimensions (adjust as needed) */
        height: 3.5in;
        border: 1px solid black; /* Ensure visibility */
        margin: 0; /* No margin around cards */
        page-break-inside: avoid; /* Prevent cards from breaking across pages */
    }

    .mana-cost-square {
        border: 1px solid black; /* Ensure border visibility */
    }
}